<div class = "container">
  <div class = "title">
    <p>
      <strong><%= @blogpost.title %></strong>
    </p>
    <hr />
  </div>

  <div class="text">
    <p>
      <%= @blogpost.text.html_safe %>
    </p>
  </div>
  <div class="buttons">
    <% if current_user %>
      <button><%= link_to 'Edit this Post', edit_blogpost_path(@blogpost) %></button>
    <% end %>
    <button><%= link_to 'Back to Index', blogposts_path %></button>
  </div>

</div>
