<body>
  <div class="topview">
    <h1>Contact Me</h1>
    <p>I am available for contact in a variety of ways, including social media and email. Feel free to follow or add me!</p>

    <div class = "contact_table">
      <table>
        <tr>
          <td><a href="http://facebook.com/xtheprogrammer" target="_blank"><img src="facebook.png" /></a></td>
          <td><a href="http://instagram.com/xtheprogrammer" target="_blank"><img src="instagram.png" /></a></td>
          <td><a href="http://twitter.com/xtheprogrammer" target="_blank"><img src="twitter.png" /></a></td>
          <td><a href="http://github.com/xcoan" target="_blank"><img src="github.png" /></a></td>
          <td><a href="http://linkedin.com/in/xcoan" target="_blank"><img src="linkedin.png" /></a></td>
        </tr>
      </table>
    </div>

  </div>
</body>
