<body>
  <div class = "page">
    <div class = "topview">
      <h1>X J. Coan</h1>
    </div>
    <div class="main">
      <div class="main-content">
        <h1>About Me</h1>
        <p>I'm a full stack developer who likes to use Ruby on Rails..</p>
        <p>I'm currently a student at Purdue Univeristy, and am seeking internships and junior developer positions.</p>
        <hr />
        <h2>Experience</h2>
        <p>
          In the summer of 2016, I had an internship in Indianapolis, Indiana, where I worked for <a href="http://www.octiv.com">Octiv</a>.
        </p>
      </div>
    </div>

    <div class="rightpane">
      <div class="rightpane-content">
        <h1>Quick Facts</h1>
        <img src="me.jpg" />
        <h1>Skills</h1>
        <table>
          <tr>
            <td>
              Programming Languages:
            </td>
            <td>
              Ruby, Java, HTML/CSS/Javascript, and C
            </td>
          </tr>
          <tr>
            <td>
              Spoken Languages:
            </td>
            <td>
              English and German
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
