/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Mobile view */
 @media only screen and (max-width: 500px) {
   .navcontainer {
     .nav {
       margin-top: 10px;
       margin-bottom: 10px;
       ul {
         list-style: none;
         background-color: #555;
       }
       li {
         a {
           text-decoration: none;
           color: white;
         }
       }
     }
   }
   .right {
     visibility: hidden;
   }
 }

body {
  background-color: #D7DADB;
}

@media only screen and (min-width: 1024px) {
  .usrinfo {
    bottom: 0;
  }

  .nav {
    top: 0;
    width: 99%;
    position: fixed;
    color: white;
  }

  .nav ul{
    display: inline-block;
    list-style-type: none;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
  }

  .nav li {
    float: left;
  }

  .nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    float: left;
  }

  .nav li a:hover {
    background-color: #111;
  }
  #mobile {
    visibility: hidden;
  }

  .right {
    float: right;
  }
}
