// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mobile view */
 @media only screen and (max-width: 1023px) {
   .topview {
     border: 1px solid;
     margin-bottom: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
   }
   body {
     text-align: center;
   }
   .rightpane {
     visibility: hidden;
   }
   .main {
     width: 100%;
     border: 1px solid;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
   }
 }


@media (min-width: 1024px) {
  .topview {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }
  .main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    width: 70%;
    float: left;
  }

  .rightpane {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    width: 30%;
    float: left;
  }

  .main-content {
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    border: 1px solid;
    min-height: 60px;
  }

  .rightpane-content {
    text-align: center;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    border: 1px solid;
    min-height: 60px;
    img {
      max-width: 75%;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    }
    table {
      margin-left: 25px;
      td {
        font-size: 12pt;
      }
      td + td {
        padding-left: 50px;
      }
    }
  }
}
