<!-- Creates navbar for top of site -->
<div class="navbar">
  <table>
    <tr>
      <td><a href="/">Home</a></td>
      <td><a href="projects">Projects</a></td>
      <td><a href="contact">Contact</a></td>
    </tr>
  </table>
</div>
