<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <table>
        <tr>
          <td><a href="/">Home</a></td>
          <td><a href="projects">Projects</a></td>
        </tr>
      </table>
    </div>

    <%= yield %>
  </body>
</html>
